<%- include('./partials/header.ejs') %>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
            <h1>NOT FOUND</h1>
        </div>
        <!-- <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div> -->
    </div>
</div>
<%- include('./partials/footer.ejs') %>