<%- include('./partials/header.ejs') %>
<main>
    <div class="ui segment">
        <h1>Here are Your Favorites</h1>
        <p>Get to discover new corktails recipes.</p>
    </div>
</main>

<%- include('./partials/footer.ejs') %>